In [1]:
import numpy as np

In [2]:
from datasets import load_dataset

C:\Users\gerso\anaconda3\envs\thesis\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
dataset = load_dataset("tatoeba", lang1="de", lang2="en", )["train"]
df = dataset.to_pandas()
n_samples = len(dataset)

Using custom data configuration de-en-lang1=de,lang2=en
Reusing dataset tatoeba (C:\Users\gerso\.cache\huggingface\datasets\tatoeba\de-en-lang1=de,lang2=en\0.0.0\b3ea9c6bb2af47699c5fc0a155643f5a0da287c7095ea14824ee0a8afd74daf6)
100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.57it/s]

In [10]:
print(n_samples)

307372

In [12]:
df["source"] = df.apply(lambda x: x["translation"]["de"], axis=1)
df["target"] = df.apply(lambda x: x["translation"]["en"], axis=1)

In [19]:
df

,id,translation,source,target,source_len,target_len
0,0,"{'de': 'Lass uns etwas versuchen!', 'en': 'Let...",Lass uns etwas versuchen!,Let's try something.,25,20
1,1,"{'de': 'Ich muss schlafen gehen.', 'en': 'I ha...",Ich muss schlafen gehen.,I have to go to sleep.,24,22
2,2,"{'de': 'Was ist das?', 'en': 'What is it?'}",Was ist das?,What is it?,12,11
3,3,"{'de': 'Was ist das?', 'en': 'What's that?'}",Was ist das?,What's that?,12,12
4,4,"{'de': 'Was ist das?', 'en': 'What is this?'}",Was ist das?,What is this?,12,13
...,...,...,...,...,...,...
307367,307367,"{'de': 'Ich hatte ja gehofft, wir müssten das ...","Ich hatte ja gehofft, wir müssten das nicht.",I was kind of hoping we wouldn't have to do this.,44,49
307368,307368,{'de': 'Tom flog auf dem Rücken eines Einhorns...,Tom flog auf dem Rücken eines Einhorns nach At...,Tom flew to Atlantis on the back of a unicorn.,53,46
307369,307369,"{'de': 'Er hatte gestern nichts zu tun.', 'en'...",Er hatte gestern nichts zu tun.,He had nothing to do yesterday.,31,31
307370,307370,"{'de': 'Tom wollte nicht in den Zoo.', 'en': '...",Tom wollte nicht in den Zoo.,Tom didn't want to go to the zoo.,28,33
307371,307371,"{'de': '', 'en': ''}",,,0,0

In [25]:
df["source"][-5:]
for i in range(5):
    idx = np.random.choice(len(df.index))
    x = df.iloc[idx]
    print("{} & {}".format(x["source"], x["target"]))

Tom hat fein säuberlich gekämmtes Haar. & Tom's hair is neatly combed.
Ich verstehe nicht, was du sagst. & I don't understand what you're saying.
Der Astronaut ist im Weltraum über der Erde. & The astronaut is in orbit around the Earth.
Der Baum dort ist nicht so hoch wie dieser hier. & That tree is not so tall as this.
Ich weiß, warum Tom in Schwierigkeiten steckt. & I know why Tom is in trouble.

In [15]:
df["source_len"]  = df.apply(lambda x: len(x["source"]), axis=1)
df["target_len"]  = df.apply(lambda x: len(x["target"]), axis=1)

In [16]:
df["source_len"].describe()

count    307372.000000
mean         40.992602
std          23.521684
min           0.000000
25%          27.000000
50%          36.000000
75%          48.000000
max        1427.000000
Name: source_len, dtype: float64

In [18]:
df["target_len"].describe()

count    307372.000000
mean         35.365033
std          20.207826
min           0.000000
25%          24.000000
50%          31.000000
75%          41.000000
max        1085.000000
Name: target_len, dtype: float64

In [ ]:
# Next check what happens