In [1]:
import pandas as pd
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
# Load the 5 mc estimate

mc_5_df = pd.read_parquet('../data/comet/ancestral_100_10_validation_predictive_1.parquet')
mc_1000_df = pd.read_parquet('../data/comet/ancestral_100_1000_validation_predictive_0.parquet')

In [3]:
# Calculate the mean

In [4]:
mc_1000_df

,source,target,hypotheses,references_count,utilities
0,"Ich denke, Tom mag Maria.",I think that Tom likes Mary.,"[I think Tom likes Mary., I think that Tom lik...","[979, 20, 1]","[[1.2426704, 1.1319672, 1.0443121], [1.1185635..."
1,Wir leben alle auf dem Planeten Erde.,We all live on planet Earth.,"[We all live on the planet earth., We all live...","[408, 302, 62, 66, 28, 11, 1, 1, 1, 2, 1, 3, 6...","[[1.1946174, 1.0890923, 1.1190448, 1.2563909, ..."
2,"Hast du daran gedacht, warme Socken anzuziehen?",Did you remember to wear warm socks?,"[Did you remember to wear hot socks?, Did you ...","[543, 1, 1, 1, 1, 5, 9, 16, 2, 9, 1, 6, 37, 1,...","[[1.0091288, 0.64454204, -0.27938378, 0.397212..."
3,Meine Mama hat zwei Flaschen Apfelsaft gekauft.,My mum bought two bottles of apple juice.,"[My mom bought two bottles of apple juice., My...","[884, 70, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1, 2, 1, ...","[[1.2582612, 1.1912981, 0.90627, 0.22061357, 1..."
4,Holen Sie sie jetzt gleich herein!,Have them come in right now.,"[Get her in here right now., Get it in here ri...","[1, 48, 6, 1, 1, 15, 3, 1, 1, 1, 21, 4, 48, 1,...","[[-0.16692466, 0.26618397, 0.29686052, -0.1486..."
...,...,...,...,...,...
2495,Wie war euer Wochenende bis jetzt?,How has your weekend been so far?,"[How was your weekend?"", How was your weekend?...","[748, 10, 12, 1, 15, 1, 22, 1, 1, 1, 1, 1, 1, ...","[[1.0100796, 0.7771119, 0.89239156, 0.77869445..."
2496,Tom ging in dieselbe Schule wie Maria.,Tom went to the same school as Mary did.,"[Tom went to the same school as Mary., Tom wen...","[529, 351, 1, 5, 12, 3, 15, 1, 1, 20, 1, 4, 1,...","[[1.1805013, 0.99536794, 0.83011305, 0.997268,..."
2497,Ich kann nicht weniger nehmen.,I cannot take less.,"[I can't take any more., I can't take more., I...","[328, 1, 241, 70, 70, 6, 3, 1, 8, 13, 4, 11, 1...","[[0.41811326, -0.2648098, 0.107799955, 1.14995..."
2498,Wir sind zu Hause geblieben.,We stayed in our houses.,"[We stayed at home., We stayed home.]","[807, 188, 1, 1, 1, 1, 1]","[[1.1327305, 0.9725194, 0.57990247, 0.9006014,..."
2499,Maria trägt heute ein neues Kleid.,Mary is wearing a new dress today.,"[Mary is wearing a new dress today., Mary is h...","[926, 1, 6, 10, 9, 3, 2, 1, 4, 1, 1, 1, 1, 1, ...","[[1.1003994, 0.94166046, 0.9586309, 0.96392286..."

In [5]:
import numpy as np

mc_1000_df = mc_1000_df.explode(column=['hypotheses', 'utilities'])
mc_1000_df.reset_index(drop=True, inplace=True)
mc_1000_df.rename({"hypotheses": "hypothesis"}, inplace=True, axis=1)


mc_1000_df["utility"] = mc_1000_df[["utilities", 'references_count']].apply(lambda x: np.sum(
        np.array(x["utilities"]) * np.array(x["references_count"]) / np.sum(np.array(x["references_count"]))), axis=1)

In [6]:
mc_5_df = mc_5_df.explode(column=['hypotheses', 'utilities'])
mc_5_df.reset_index(drop=True, inplace=True)
mc_5_df.rename({"hypotheses": "hypothesis"}, inplace=True, axis=1)


mc_5_df["utility"] = mc_5_df[["utilities", 'references_count']].apply(lambda x: np.sum(
        np.array(x["utilities"]) * np.array(x["references_count"]) / np.sum(np.array(x["references_count"]))), axis=1)

In [7]:
difference = (mc_5_df["utility"] - mc_1000_df["utility"])**2

In [8]:
print(difference)

0        0.000005
1        0.000004
2        0.001925
3        0.001417
4        0.000514
           ...
97152    0.000023
97153    0.000002
97154    0.000086
97155    0.000003
97156    0.000076
Name: utility, Length: 97157, dtype: float64

In [9]:
print(difference.mean())

0.008579217501844705